# =========================
# Build directories
# =========================
cmake-build-*/
build/
out/

# =========================
# CMake
# =========================
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json

# =========================
# CLion / JetBrains
# =========================
.idea/
*.iml

# =========================
# Binaries
# =========================
*.exe
*.out
*.app

# =========================
# Object files
# =========================
*.o
*.obj
*.lo
*.la

# =========================
# Libraries
# =========================
*.a
*.lib
*.so
*.dylib

# =========================
# Debug / logs
# =========================
*.log

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Visual Studio (au cas où)
# =========================
*.vcxproj*
*.sln

# =========================
# Ninja
# =========================
.ninja_deps
.ninja_log